.navBar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
  }
  
  .link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  