.contactItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 120px;
  text-align: start;
  padding-left: 12px;
}

.button {
  width: 80px;
  height: 40px;
  margin-right: 12px;
  text-align: center;
  border: none;
}

.btnDelete:hover {
  background-color: rgb(219, 94, 94);
}
